:root {
    /* COLORS LIGHT MODE*/
    --light: #68BBE3;
    --medium: #0E86D4;
    --dark: #055C9D;
    --darker: #003060;
    --darker-85: #00306085;
    --white: #F2F2F2;

    /* COLORS DARK MODE*/
    --dm-light: #CCCCCC;
    --dm-medium: #888888;
    --dm-dark: #444444;
    --dm-darker: #222222;
    --dm-darker-85: #22222285;
    /* --dm-white: #F2F2F2;  */

    /* FONT */
    --font: 'Poppins', sans-serif;

    /* FONT WEIGHT */
    --regular: 400;
    --bold: 700;
}

*, *:before, *:after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    transition: background-color 200ms, color 200ms;
}

body {
    display: flex;
    background-color: var(--white);
    color: var(--white);
    font-family: var(--font);
}

ul {
    list-style: none;
}

main {
    overflow-y: scroll;
    max-height: calc(100vh - 100px);
}


.container {
    display: flex;
    flex-direction: column;
    width: calc(100vw - 350px);
}

@media screen and (max-width: 960px) {
    .container {
        width: 100vw;
    }
}
