.dark-mode-primary {
    background-color: var(--dm-darker);
}

.dark-mode-secondary {
    background-color: var(--dm-dark);
}

.dark-mode-tertiary {
    background-color: var(--dm-darker-85);
}


/* Side Menu */
.sideMenu.dark-mode-primary .target {
    background-color: var(--dm-dark);
}


/* Header */
.topHeader.dark-mode-primary .inputSearch {
    border-bottom: 2px solid var(--dm-dark);
}

.topHeader.dark-mode-primary .inputSearch input {
    background-color: transparent;
}

.topHeader.dark-mode-primary .inputSearch input::placeholder{
    color: var(--dm-dark);
}

.bottomHeader.dark-mode-tertiary p.selected {
    background-color: var(--dm-darker);
}

.bottomHeader.dark-mode-tertiary input:checked + label {
    background-color: var(--dm-darker);
}

/* Card */
body.dark-mode-secondary div.card {
    background: linear-gradient(92.74deg, var(--dm-darker) 0%, var(--dm-dark) 50.97%, var(--dm-medium) 99.85%);
}

body.dark-mode-secondary .notFound h3 {
    color: var(--white);
}
